body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#welcome {
	margin-right: 10px;
}

#welcome h4 {
	font-size: 14px;
	color: white;
}

#subscribe {
	float: right;
}

table .label {
	font-size: 0.9em;
}

form .button-validate {
    text-align: center;
}

#eventTypeButtons {
    margin-top: 1em;
    margin-bottom: 1em;
}