body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#welcome {
	margin-right: 10px;
}

#welcome h4 {
	font-size: 14px;
	color: white;
}

#subscribe {
	float: right;
}
