# Si installé à la raçine d'un vhost
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Si installé à l'ENSIIE, remplacer le contenu par :
#
# RewriteEngine On
# RewriteBase /~prenom.nom/ENSIIE-IBDW
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ /~prenom.nom/ENSIIE-IBDW/index.php [QSA,L]


